@font-face {
    font-family: StratosSkyeng;
    src: url(./fonts/stratosskyengweb-light.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: StratosSkyeng;
    src: url(./fonts/stratosskyengweb-regular.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: StratosSkyeng;
    src: url(./fonts/stratosskyengweb-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
  }

* {
    padding: 0;
    margin: 0;
  }

.page{
    font-family: StratosSkyeng, "Helvetica Neue", sans-serif;
}

.first_container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 140px;
    background-color: #271A58;

}

.main_menu {
    display: flex;
    align-items: center;
}

.main_menu img {
    padding-top: 20px;
    padding-right: 330px;
}

.main_menu-details {
    list-style-type: none;
}

.link {
    margin-right: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05px;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.link:hover {
    border-radius: 32px;
    border:none;
    background-color: #AD61FF;
}

.main_menu button {
    width: 89px;
    height: 36px;
    margin-left: 256px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #868D92;
}

.first_container-subtitle {
    margin-top: 40px;

    opacity: 0.5;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #FFFFFF;
}

.first_container-title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.first_container-title h1 {
    padding-right: 52px;
    
    font-weight: 500;
    font-size: 72px;
    line-height: 65.88px;
    letter-spacing: -1.17px;
    color: #F4F4FF;
}

.first_container-title img {
    margin-right: -66px;
}

.first_container-prof {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 60px;
    min-width: 1110px;
    max-width: 1200px;
}

.python {
    width: 360px;
    height: 480px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: url('./images/red.jpg');
}

.analyst {
    width: 360px;
    height: 480px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: url('./images/purple.jpg');
}

.engineer {
    width: 360px;
    height: 480px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: url('./images/blue.jpg');
}

.python_prof {
    padding: 10px;
    width: 190px;
    border-radius: 80px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #FF8071;
}

.analyst_prof {
    padding: 10px;
    width: 100px;
    border-radius: 80px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #AD61FF;
}

.engineer_prof {
    padding: 10px;
    width: 190px;
    border-radius: 80px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #565EEF;
}

.proffession {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #000000;
}

.learn_time {
    opacity: 0.5;
}

.prof_title {
    margin-bottom: 258px;

    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.5px;
}

.all_courses a {
    margin-bottom: 41px;
    padding: 20px;
    display: inline-block;
    width: 180px;
    background: #FF8071;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    

    font-weight: 400;
    font-size: 28px;
    line-height: 25.2px;
    letter-spacing: -0.73px;
    color: #FFFFFF;
}

.second_container {
    width: 100%;
    box-sizing: border-box;
    padding: 59px 140px 0 140px;
    background-color: #AD61FF;
    border-radius: 0px 0px 32px 32px;
}

.second_container-invest {
    display: flex;
    align-items: flex-start;
    
}

.second_container-title {
    width: 809px;

    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.05px;
    color: #FFFFFF;

}

.second_container-title-dark {
    width: 820px;
    display: inline-block;
    color: #271A58;
}

.second_container-subtitle {
    margin-top: 24px;
    width: 667px;
    font-weight: 400;
    font-size: 26px;
    line-height: 32.76px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}

.second_container-invest img {
    margin-top: -22.45px;
}

.about_isa a {
    margin-top: 22px;
    margin-bottom: 59px;
    padding: 18px 22px 17px 20px;
    display: inline-block;
    background: #FF8071;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;

    font-weight: 400;
    font-size: 28px;
    line-height: 25.2px;
    letter-spacing: -0.73px;
    color: #FFFFFF;
}

.third_container {
    margin: 120px 140px 96px 140px;
}

.third_container h2 {
    margin-bottom: 46px;

    font-weight: 400;
    font-size: 60px;
    line-height: 54px;
    letter-spacing: -0.74px;
    color: #271A58;
}

.third_container-block1 {
    position: relative;
    padding: 40px;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    background: #D8D7FF;
    border-radius: 30px;
}

.block1-info {
    display: flex;
    flex-direction: column;
}

.block1-date {
    margin-bottom: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block1-date-number {
    margin-right: 8px;
    font-weight: 500;
    font-size: 48px;
    line-height: 64.8px;
    letter-spacing: -0.13px;
    color: #000000;
}

.block1-month {
    margin-top: -4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #000000;
}

.block1-profession {
    margin-bottom: 3px;
    max-width: 138px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #565EEF;
}

.block1-details {
    margin-left: 66px;
}

.block1-title {
    margin-bottom: 29px;
    max-width: 565px;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.3px;
    color: #000000;
}

.block1-time {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05px;
    color: #000000;
}

.block1-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block1-speakers {
    width: 354px;
    display: inline-block;

    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05px;
    color: #000000;
}

.block1-more a {
    margin-left: 192px;
    margin-top: 20px;
    padding: 18px 27px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;

    font-weight: 400;
    font-size: 28px;
    line-height: 25.2px;
    letter-spacing: -0.73px;
    color: #565EEF;
}

.third_container-block1::before, .third_container-block1::after {
    position: absolute;
    left: 220px;

    width: 40px;
    height: 40px;

    content: '';

    border-radius: 50%;

    background-color: #fff;
}

.third_container-block1::before {
    top: -20px;
}

.third_container-block1::after {
    bottom: -20px;
}

.third_container-block2 {
    margin-top: 40px;
    max-width: 1160px;
    height: 440px;
    padding: 37px 34px 31px 33px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #6269ec;
    border-radius: 30px;
}

.block2-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 48px;

    color: #FFFFFF;
}

.block2-date-number {
    margin-right: 11px;

    font-weight: 500;
    font-size: 48px;
    line-height: 64.8px;
    letter-spacing: -0.13px;
}

.block2-month {
    margin-top: -3px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05px;
}

.block2-title {
    width: 565px;
    margin-bottom: 38px;

    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.3px;  
    color: #FFFFFF;  
}

.block2-time {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05px;  
    color: #FFFFFF; 
}

.block2-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.block2-speakers {
    display: inline-block;
    width: 527px;

    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05px;  
    color: #FFFFFF; 
}

.block2-more a{
    margin-bottom: 2px;
    padding: 18px 27px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;

    font-weight: 400;
    font-size: 28px;
    line-height: 25.2px;
    letter-spacing: -0.73px;
    color: #565EEF;
}

.third_container-info {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all_veb a{
    height: 40px;
    margin-right: 31px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: #FF8071;
    border-radius: 30px;
    text-decoration: none;
    

    font-weight: 400;
    font-size: 28px;
    line-height: 25.2px;
    letter-spacing: -0.73px;
    color: #FFFFFF;
}

.third_container-info img {
    margin-right: 11.49px;
}

.third_container-info p {
    font-weight: 400;
    font-size: 28px;
    line-height: 25.2px;
    letter-spacing: -0.73px;
    color: #271A58;
}

.skills-title {
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills-details {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-python {
    width: 560px;
    height: 310px;
    margin-bottom: 40px;
    padding: 30px;
    box-sizing: border-box;
    background: url('./images/skill-purple.png');
    border-radius: 30px;
}

.skills-sql {
    width: 560px;
    height: 310px;
    margin-bottom: 40px;
    padding: 30px;
    box-sizing: border-box;
    background: url('./images/skill-blue.png');
    border-radius: 30px;
}

.skills-finance {
    width: 560px;
    height: 310px;
    margin-bottom: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: url('./images/skill-red.png');
    border-radius: 30px;
}

.skill_title {
    width: 237px;
    margin-bottom: 40px;
    padding: 10px 0;

    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.5px;
}

.python-details {
    padding: 10px;
    border-radius: 80px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #AD61FF;
}

.sql-details {
    padding: 10px;
    border-radius: 80px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #565EEF;
}

.finance-details {
    padding: 10px;
    margin-top: 37px;
    width: 120px;
    border-radius: 80px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #FF8071;
}

.skills-courses a {
    height: 40px;
    width: 180px;
    margin-right: 31px;
    margin-bottom: 96px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF8071;
    border-radius: 30px;
    text-decoration: none;
    

    font-weight: 400;
    font-size: 28px;
    line-height: 25.2px;
    letter-spacing: -0.73px;
    color: #FFFFFF;
}

.forth_continer{
    width: 100%;
    padding: 0px 140px 40px 140px;
    box-sizing: border-box;
    background-color: #E6E6F6;
} 

.forth_continer-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* .forth_continer-img1 {
    width: 560px;
    height: 623px;
} */

.forth_continer-text-paragraph1 {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.3px;
    color: #AD61FF;
}

.forth_continer-text-paragraph2 {
    
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.3px;
    color: #271A58;
}

.career-paragraph1 {
    margin-top: 60px;
}

.career-paragraph2 {
    margin-bottom: 64px;
}

.employment-img {
    margin-top: 60px;
}

.employment-paragraph1 {
    margin-top: 60px;
}

.career-guidance {
    margin-right: 40px;
}

.forth_block {
    margin-top: 36.61px;
}

.forth_continer-img4 {
    margin-left: -100px;
    margin-right: 40px;
}

.market-paragraph2 {
    margin-bottom: 180px;
}

.educational-paragraph1 {
    margin-top: 60px;
}

.student-loan {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.student-loan-text {
    margin-right: 40px;
    width: 560px;
}